.contact-box {
  @include section-base(40px);

  .contact-item-lr {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.contact-item-form {
  height: 100%;
  text-align: center;
  padding: 50px 100px;
  background-color: $primaryColor;

  .contact-item-inner {
    width: 100%;
    h2 {
      text-align: start;
      font-size: 2.5rem;
      color: #fff;
      font-family: "lato-light";
      margin-bottom: 25px;
    }
    .form-contact {
      .form-group {
        width: 100%;
        position: relative;
        margin: 20px 0;
        input {
          width: 100%;
          padding: 8px 8px 8px 45px;
        }
        img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 12px;
        }
      }
      .form-hotline {
        display: flex;
        justify-content: space-between;
        button {
          padding: 8px 24px;
          text-align: center;
          background-color: #000;
          color: #fff;
        }
        .header__hotline {
          display: flex;
          align-items: center;
          &:before {
            content: "";
            display: block;
            width: 31px;
            height: 31px;
            margin-right: 10px;
            color: #fff;
            background: url(../images/hotline-icon-contact.png);
          }

          color: #fff;
          > div {
            text-align: start;
            span:first-child {
              display: block;
              font-size: 0.92rem;
            }
            span:last-child {
              font-size: 1.42rem;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
