.location-box {
  @include section-base(40px);
  .location-box__imgage {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      //   object-fit: cover;
    }
  }
  .location-box__content {
    height: 100%;
    background-color: $primaryColor;
    color: #fff;
    padding: 50px 100px;
    h2 {
      font-weight: 200;
      font-size: 3.4rem;
      color: #fff;
    }
    .location-box--readmore {
      margin-top: 40px;

      a {
        color: #fff;
        display: flex;
        align-items: center;
        span {
          font-weight: bold;
          text-transform: uppercase;
          word-spacing: 3px;
          letter-spacing: 3px;
        }
        i {
          @include arrow-button(transparent, #fff, 1px solid #fff);
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          line-height: 30px;
          margin-left: 10px;
          font-size: 1.1rem;
        }
      }
    }
  }
  @media (max-width: 769px) {
  }
}
