.product-box {
  @include section-base(40px);
  background: url("../images/product-bg.png") no-repeat;
  background-size: 100%;
  h2 {
    text-align: center;
    font-size: 1.7rem;
    // font-weight: bold;
    color: #403c34;
    span {
      color: $primaryColor;
      font-size: 5.14rem;
      font-family: FontBox;
      margin: 0 5px;
    }
  }
  .product-box__inner {
    @include center(90%);
    position: relative;
    .product-box__item {
      text-align: center;
      .item__name {
        font-size: 2.14rem;
        font-weight: bold;
      }
      .item__category {
        color: $primaryColor;
        font-weight: bold;
        text-transform: uppercase;
      }
      .item__price {
        font-size: 1.28rem;
      }
    }
    .product-box__controls {
      .product-box__controls--prev {
        @include vartical-middle(50%);
        @include arrow-button;
        left: 0;
      }
      .product-box__controls--next {
        @include vartical-middle(50%);
        @include arrow-button;

        right: 0;
      }
    }
  }
}
