.whyus-box {
  @include section-base;
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.14rem;
    font-weight: bold;
  }
  .whyus-box__list {
    margin: 40px 0;
    .whyus-box--item {
      max-width: 75%;
      h3 {
        text-transform: uppercase;
        font-size: 1.14rem;
        font-weight: bold;
      }
    }
  }
  .whyus-box--button {
    text-align: center;
    a {
      border: 2px solid #e6e6e6;
      color: #8c877d;
      font-size: 1.14rem;
      font-weight: bold;
      padding: 10px 30px;
      text-transform: uppercase;
    }
  }
  @media (max-width: 769px) {
    .whyus-box__list {
      // text-align: center;
      padding: 0 12px;
    }
  }
}
