.header {
  .header__menu_mobile,
  .button-close-mobile,
  .toggle {
    display: none;
  }

  position: relative;
  padding: 28px 0;
  .header__logo {
    position: absolute;
    top: 0;
    z-index: 2;
  }
  .header__menu {
    margin-top: 10px;
    ul {
      display: flex;
      align-items: center;
      li {
        a {
          display: block;
          padding: 0 20px;
          text-transform: uppercase;
        }
      }
    }
  }
  .header__hotline {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: block;
      width: 31px;
      height: 31px;
      margin-right: 10px;
      background: url("../images/phone-icon.png");
    }
    span {
      display: block;
      text-transform: uppercase;
      &:first-child {
        color: #767676;
        font-size: 0.92rem;
      }
      &:last-child {
        color: $primaryColor;
        font-size: 1.42rem;
        font-weight: bold;
      }
    }
  }
  @media (max-width: 769px) {
    .row-mobile {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .col.col-8 {
      display: none;
    }
    .button-close-mobile,
    .toggle {
      display: block;
    }
    .toggle i {
      font-size: 3rem;
    }

    .header__menu_mobile {
      display: block;
      position: fixed;
      z-index: 999;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 0;
      margin-top: 0 !important;
      visibility: hidden;
      background-color: rgba(0, 0, 0, 0.4);
      transition: all 0.25s ease-in-out;
      &.active {
        visibility: visible;
        ul {
          transform: translatex(0);
        }
      }
      ul {
        transition: all 0.25s linear;

        position: absolute;
        background-color: #fff;
        top: 0;
        width: 90%;
        transform: translatex(-100%);
        height: 100vh;
        padding: 12px 0;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px 0;
        font-size: 2rem;
        .button-close-mobile {
          position: absolute;
          right: 12px;
          top: 0px;
          font-size: 5rem;
          text-align: end;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
